@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Puede navegar a través de los menús desde la barra de navegación. Ingrese un automovil o moto desde los menús correspondientes y luego vaya a la pestaña de presupuestos para generar un presupuesto para el vehículo. Desde la pantalla de reportes podrá ver las 3 consultas de la consigna 2. Finalmente la tercera consigna puede ser encontrada en el archivo sql que fue enviado (procedimiento MassiveCharge)</p>
</div>